data/model/model.dtd

<!ELEMENT model (table+)>

<!ELEMENT table (field+)>
<!ATTLIST table type ID #REQUIRED>

<!ELEMENT field (validate*)>
<!ATTLIST field
    name CDATA #REQUIRED
    required (yes|no) "no"
    unique (yes|i|no) "no"
    default CDATA #IMPLIED
>

<!ELEMENT validate (function, argument*, error?)>

<!ELEMENT function ((class|object)?, method)>

<!ELEMENT argument (#PCDATA)>

<!ELEMENT error (#PCDATA)>

<!ELEMENT class (#PCDATA)>

<!ELEMENT object (#PCDATA)>

<!ELEMENT method (#PCDATA)>